{% extends 'base.html' %}

{% block body %}
<div class="container my-4 mx-4">
	{% if not object_list %}
		<h1>No such user.</h1>
		{% else %}
		{% for i in object_list %}
		<div class="card my-2">
	  		<div class="card-body">
	    	<h2>{{i.username}}</h2>
	    	<a type="button" name="button" class="btn btn-primary" role="button" href="{% url 'userProfile' i.username %}">View</a>
	  		</div>
		</div>
		{% endfor %}
	{% endif %}

	{% if is_paginated %}
		{% if page_obj.has_prev %}
			<a href="?page={{ page_obj.prev_page_number }}" role="button" class="btn btn-outline-primary">{{page_obj.prev_page_number}}</a>
		{% endif %} 
		<a href="?page={{ page_obj.number }}" class="btn btn-primary">{{page_obj.number}}</a>
		{% if page_obj.has_next %}
			<a href="?page={{ page_obj.next_page_number }}" role="button" class="btn btn-outline-primary">{{page_obj.next_page_number}}</a>
		{% endif %} 
	{% endif %}
</div>
{% endblock body %}